.idea/
.vimprj/
build/*
*.so
*.o

pyforms.c
pyforms.h

xforms/libtool
xforms/lib/include/AAA.h
xforms/lib/include/forms.h
xforms/lib/include/stamp-forms
xforms/lib/stamp-h1
xforms/lib/xforms.5
xforms/fd2ps/fd2ps*
xforms/fdesign/fdesign*
xforms/**/*.spec
xforms/**/*.lo
xforms/**/*.Plo
xforms/**/*.Po
xforms/**/config.*
xforms/**/*.a
xforms/**/*.la
xforms/**/*.lai
xforms/**/Makefile
